# Output i desenvolupament local
output/
config/weewx.conf
*.pyc
__pycache__/
.DS_Store

# Cache de WeeWX
*.json
!tests/mock_response.json

output/
config/meteocat_cache.json
config/weewx.sdb
__pycache__/
*.pyc